/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 *  兼容性设置样式
 */
@import "compass/css3";
@import "compass/css3/box";
@import "compass/css3/flexbox";
@import "compass/utilities";
.position-relative{
  position: relative;
}
.clear-fix{
  *zoom:1;
  &:after{
    content: '.';
    height: 0;
    clear: both;
    display: block;
  }
}
.position-fixed{
  position: fixed!important;
}

.color-white{
  color: #ffffff;
}
.text-align-center{
  text-align: center;
}
.width-p-100{
  width: 100%!important;
}
.min-width-80{
  min-width: 80px!important;
}
.min-width-100{
  min-width: 100px!important;
}
.min-width-450{
  min-width: 450px!important;
}
.display-table{
  display: table!important;
}
.display-table-cell{
  display: table-cell!important;
}
.vertical-align-middle{
  vertical-align: middle;
}
.position-absolute{
  position: absolute;
}
.display-inline-block{
  display: inline-block;
}

.visibility-hidden{
  visibility: hidden;
}
.visibility-show{
  visibility: visible;
}

@for $i from 1 through 20{
  $val: $i * 5;
  .margin-#{$val}{
    margin: #{$val}px!important;
  }
  .padding-#{$val}{
    padding: #{$val}px!important;
  }
  .margin-top-#{$val}{
    margin-top: #{$val}px!important;
  }
  .margin-right-#{$val}{
    margin-right: #{$val}px!important;
  }
  .margin-bottom-#{$val}{
    margin-bottom: #{$val}px!important;
  }
  .margin-left-#{$val}{
    margin-left: #{$val}px!important;
  }
  .padding-top-#{$val}{
    padding-top: #{$val}px!important;
  }
  .padding-right-#{$val}{
    padding-right: #{$val}px!important;
  }
  .padding-bottom-#{$val}{
    padding-bottom: #{$val}px!important;
  }
  .padding-left-#{$val}{
    padding-left: #{$val}px!important;
  }
}


.bus-min-width-450 {
  min-width: 450px !important;
}

//小屏幕适配
@media (max-width: 415px) {
  .dataTables_filter{
    float: left!important;
  }
  .bus-min-width-450 {
    min-width: inherit!important;
    @include transform(scale(0.8));
  }
}

@media (max-width: 375px) {
  .bus-min-width-450 {
    min-width: inherit!important;
    @include transform(scale(0.76));
  }
}
@media (max-width: 320px) {
  .bus-min-width-450 {
    min-width: inherit!important;
    @include transform(scale(0.66));
  }
}

.img-preview{
  max-width: 100%;
}


.portlet.box.black {
  border: none;
  border-top: 0;
}
.portlet > .portlet-body.black, .portlet.black {
  background-color: #333333;
}

.table-middle{
  th,td{
    vertical-align: middle!important;
  }
}
.table-img{
  max-width: 140px;
  max-height: 70px;
}